
- search for a location
- download maps for offline access & quick load

- record routes
	- show current location
	- show trip stats
		- distance
		- time
		- elevation
		- current lat lon
	- views: street, terrain, topo, image
	
- view list of routes
	- sort by: date, title, distance, location
	
- view accumulated route stats	
	
- view route map 
	- views: street, terrain, topo, image
		- elevation profile
		- show trip stats
		
TAPWORTHY CRITERIA
------------------------------------------------
- good title
- good icon

		